.media-link {
  display: inline;
  padding-left: 30px;
  font-size: 0.75em;
  font-weight: bold;
}

.media-link:hover {
  color: rgb(35, 79, 88);
}

@media screen and (min-width: 601px) {
  .Links {
    float: left;
    position: absolute;
    width: 20%;
    display: flex;
    bottom: 0;
  }

  .links-list {
    transform: rotate(-90deg);
    transform-origin: left top 0;
    margin: auto;
    padding-left: 10px;
  }
}

@media screen and (max-width: 600px) {

  .Links {
    vertical-align: middle;
    height: 2.5em;
    padding-right: 10%;
  }
  .links-list {
    vertical-align: middle;
  }

  .media-link {
    color: rgb(118, 118, 118);
  }
}