.mini-links {
  font-weight: bold;
  display: block;
}

.mini-links:hover {
  color: rgb(35, 79, 88);
}


.mini-projects-links {
  padding-top: 10px;
}

.mini {
  width: 100%;
}

.mini-project {
  padding-top: 40px;
}