.Navigation {
  height: 2em;
}

ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding-right: 30px;
  font-size: 0.75em;
  font-weight: bold;
}


a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(197, 9, 9);
  text-decoration-style: wavy;
}