.Navigation {
  height: 2em;
}

ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: inline;
  padding-right: 30px;
  font-size: 0.75em;
  font-weight: bold;
  text-decoration: none;
}

.navigation-link:hover {
  text-decoration: rgb(35, 79, 88) underline wavy;
}