.ProjectDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-detail-title {
  font-size: 4em;
  text-align: center;
  margin-bottom: 0;
}

.details-container {
  float: left;
  width: 50%;
  padding-right: 10%;
  vertical-align: middle;
}

.project-detail-stack {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 20px;
  font-style: italic;
}

.project-links {
  text-align: center;
  margin: 0;
  padding: 0;
}

.project-link {
  padding-left: 10px;
  font-size: 0.75em;
  font-weight: bold;
  display: inline;
  padding-bottom: 20px;
}

.project-link:hover {
  color: rgb(35, 79, 88);
}

.project-detail-image {
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  width: 40%;
}

@media screen and (max-width: 600px) {
  .details-container {
    padding: 0;
  }

  .project-detail-title {
    font-size: 3em;
  }
  
  .project-detail-stack {
    font-size: 1em;
    padding-bottom: 10px;
  }

  .github-link {
    padding-bottom: 10px;
  }

  .project-detail-image {
    margin: auto;
    display: block;
    max-width: 100%;
  }
}