.details-container {
  padding: 0 20% 0 20%;
}

.project-detail-title {
  font-size: 4em;
  text-align: center;
  margin-bottom: 0;
}

.project-detail-stack {
  font-size: 2em;
  text-align: center;
  padding-bottom: 40px;
  font-style: italic;
}

.github-link {
  height: 60px;
  opacity: 0.75;
  margin: auto;
  display: block;
  padding-bottom: 40px;
}

.github-link:hover {
  opacity: 1;
}

.project-detail-image {
  margin: auto;
  display: block;
  max-width: 80%;
  padding: 40px 0 0 0;
}

@media screen and (min-width: 601px) {

}

@media screen and (max-width: 600px) {
  .details-container {
    padding: 0;
  }

  .project-detail-title {
    font-size: 3em;
  }
  
  .project-detail-stack {
    font-size: 1em;
    padding-bottom: 10px;
  }

  .github-link {
    padding-bottom: 10px;
  }

  .project-detail-image {
    margin: auto;
    display: block;
    max-width: 100%;
  }
}