.Project {
  height: 21em;
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  background-color: cadetblue;
}

.Project:nth-child(2n) {
  background-color: white;
}

.Project:nth-child(3n) {
  background-color: green;
}

.Project:nth-child(2n) {
  background-color: white;
}

.Project:hover {
  box-shadow: inset 0 0 0 10px white;
}
.project-title {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 1.5em;
}

.project-image {
  width: 18em;
  margin: 0;
  padding: 0;
  border-radius: 2px;

}

.project-description {
  text-align: justify;
  padding: 0;
  margin: 0;
}

.tech-stack {
  font-style: italic;
}

