.Project {
  height: 21em;
  width: 33.33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  background-color: rgb(248, 248, 248);
}

.Project:nth-child(4n - 2) {
  background-color: rgb(35, 79, 88);
}

.Project:nth-child(2n + 4) {
  background-color: rgb(246, 210, 53);
}

.Project:nth-child(4n - 5) {
  background-color: rgb(245, 109, 109);
}


.Project:hover {
  box-shadow: inset 0 0 0 10px white;
  transition: box-shadow 0.25s ease;
}
.project-title {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 1.5em;
}

.project-image {
  width: 18em;
  margin: 0;
  padding: 0;
  border-radius: 2px;

}

.project-description {
  text-align: justify;
  padding: 0;
  margin: 0;
}

.tech-stack {
  font-style: italic;
}

