.high-low {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.current-card,
.previous-card {
  height: 320px;
}

.deck {
  margin: 1px;
  height: 277px;
  width: 190px;
  padding: 20px;
  border: 1.45px solid black;
  border-radius: 10px;
  background: linear-gradient(135deg, rgb(248, 248, 248) 25%, transparent 25%) -50px
      0,
    linear-gradient(225deg, rgb(248, 248, 248) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, rgb(248, 248, 248) 25%, transparent 25%),
    linear-gradient(45deg, rgb(248, 248, 248) 25%, transparent 25%);
  background-size: 20px 20px;
  background-color: rgba(248, 106, 107, 0.7);
  background-clip: content-box;
}

.previous-card {
  opacity: 20%;
}

.cards {
  width: 60%;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  padding-bottom: 40px;
}

.controls {
  margin: auto;
}
.controls button {
  padding: 10px;
  width: 100px;
  margin: 20px;
  font-size: 15px;
  color: white;
  border: none;
  outline: none;
}

.start-game {
  background-color: rgb(35, 79, 88);
}

.higher {
  background-color: rgb(248, 106, 107);
}

.lower {
  background-color: rgb(246, 210, 53);
}

.game {
  display: flex;
  margin: auto;
  padding: 40px 0 40px 0;
  font-size: 2em;
}

.game div {
  padding-right: 40px;
}
